

.p-todo h1{
    font-weight: bold;
    text-align: center;
}

.p-todo .center{
    display: flex;
    justify-content: center;
}

.p-todo .between{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 380px;
}

.p-todo .task-list{
    width: 350px;
    text-align: left;
    font-size: 20px;
}

.p-todo span{
    font-size: 16px;
}